canvas{
animation-name:animation;
animation-duration:4s;
 animation-iteration-count:infinite;
 border: 2px dashed blue;
}
@keyframes animation{
from{
box-shadow:2px 2px 40px lightblue;
}
to{
box-shadow:2px 2px 40px lightskyblue;
}
}
.bye{
    float:right;
}
body{
    font-family: 'Oswald', sans-serif;
}